<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 13</title>
    <style>
        body {
            background-color: powderblue;
        }
        h1 {
            color: red;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }
        p {
            color: green;
            border: 1px solid black;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>
<body>
    <h1>Đây là tiêu đề màu đỏ</h1>
    <p>Đây là đoạn văn bản màu xanh</p>
</body>
</html>