<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 126</title>
</head>
<body>
    <strong>disc<strong>
        <ul style="list-style-type: disc;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
        <strong>circle<strong>
        <ul style="list-style-type: circle;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
        <strong>square<strong>
        <ul style="list-style-type: square;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
        <strong>decimal<strong>
        <ol style="list-style-type: decimal;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ol>
        <strong>decimal-leading-zero<strong>
        <ol style="list-style-type: decimal-leading-zero;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ol>
        <strong>lower-roman<strong>
        <ol style="list-style-type: lower-roman;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ol>
        <strong>upper-roman<strong>
        <ol style="list-style-type: upper-roman;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ol>
        <strong>lower-alpha<strong>
        <ol style="list-style-type: lower-alpha;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ol>
        <strong>upper-alpha<strong>
        <ol style="list-style-type: upper-alpha;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ol>
        <strong>none<strong>
        <ul style="list-style-type: none;">
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
</body>
</html>