<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 232</title>
    <style>

    </style>
</head>
<body>
    <blockquote class="blockquote">
        <p>Từ ấy trong tôi bừng nắng hạ.<br>Mặt trời chân lí chói qua tim.<br>Hồn tôi là một vườn hoa lá.<br>Rất đậm hương và rộn tiếng chim.</p>
        <footer class="blockquote-footer">Tố Hữu - Từ Ấy</footer>
    </blockquote>
</body>
</html>