<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 167</title>
    <style>
        p::first-line {
    color: red;
    font-size: 20px;
}
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sed reiciendis, pariatur dicta animi deleniti optio voluptatum numquam, nihil distinctio modi commodi voluptate! Molestias, rem blanditiis. Debitis id dolorem quidem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi, blanditiis iure nobis odio voluptatibus quas omnis commodi ducimus voluptates, aspernatur quae mollitia suscipit deserunt officia praesentium, dolorum dignissimos non.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus minus consequuntur eos esse, officiis asperiores sequi ducimus eaque aliquam odio, dolorem in earum ipsum quaerat veritatis fugiat vero fugit eius!</p>
</body>
</html>