<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 92</title>
</head>
<body>
    <h1 style="background-image: url('../assets/img/hinh-anh.png'); background-repeat: no-repeat; color: red;">Hello </h1>
    <p style="background-image: url('../assets/img/hinh-anh.png'); background-repeat: repeat-x; color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae ducimus ipsum rerum eius accusantium tempora eveniet vitae exercitationem aliquid. Inventore culpa optio distinctio qui possimus, nisi nam voluptate dolorem.</p>
    <p style="background-image: url('../assets/img/cute.jpg'); background-repeat: repeat-y; color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae ducimus ipsum rerum eius accusantium tempora eveniet vitae exercitationem aliquid. Inventore culpa optio distinctio qui possimus, nisi nam voluptate dolorem.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit eligendi, ea quos enim alias hic quis accusamus impedit architecto nulla minus placeat eum ad aperiam debitis tempora, iure dolor repellendus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis quo omnis accusantium quidem quis voluptatum dolorem a maxime magnam excepturi aut iusto consequatur animi, laboriosam numquam incidunt optio in cumque?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla distinctio esse beatae cupiditate minima doloribus quas laboriosam vitae commodi aliquid eveniet minus obcaecati, corporis, consequatur quae tenetur fugiat, consectetur quaerat.
    </p>
</body>
</html>