<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 264</title>
    <style>

    </style>
</head>
<body>
    <button type="button" class="btn btn-primary">
        <span class="spinner-border spinner-border-sm"></span>
        Loading...
    </button>
    <button type="button" class="btn btn-primary">
        <span class="spinner-grow spinner-grow-sm"></span>
        Loading...
    </button>
</body>
</html>