<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 29</title>
    <style>
        .content {
            color: black;
            border: 1px solid black;
            margin: 10px;
            padding: 20px;
        }

        .green {
            background-color: green;
        }

        .red {
            background-color: red;
        }

        .yellow {
            background-color: yellow;
        }
    </style>
</head>

<body>
    <div class="content green">
        <h1>Tiêu đề</h1>
        <p>Đoạn văn</p>
    </div>
    <div class="content red">
        <h1>Tiêu đề</h1>
        <p>Đoạn văn</p>
    </div>
    <div class="content yellow">
        <h1>Tiêu đề</h1>
        <p>Đoạn văn</p>
    </div>
</body>

</html>