<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 142</title>
    <style>
        .overflow-scroll {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: scroll;
}
    </style>
</head>
<body>
    <div class="overflow-scroll">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni tenetur tempora porro et quo doloribus voluptatum dignissimos fugiat dolorem accusantium, repellendus molestiae a. Deserunt labore molestiae inventore eum quis. Dolorem.</p>
    </div>
    <div class="overflow-scroll">
        <p>short content</p>
    </div>

</body>
</html>