<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 94</title>
</head>
<body>
    <h1 style="background-image: url('../assets/img/anh_nen.jpg'); background-attachment: scroll; color: red;">Hello </h1>
    <p style="background-image: url('../assets/img/anh_nen.jpg'); background-attachment: fixed; color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae ducimus ipsum rerum eius accusantium tempora eveniet vitae exercitationem aliquid. Inventore culpa optio distinctio qui possimus, nisi nam voluptate dolorem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores repellendus quis nemo accusamus? Amet sapiente, odio blanditiis, ipsa ipsum dolorum doloribus sit totam dolor consequuntur eveniet beatae, itaque inventore iste?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate dignissimos delectus quasi provident laborum sunt fugit repellat necessitatibus expedita, impedit enim debitis consequatur facere adipisci voluptatum totam, vel ex quaerat.
    </p>
</body>
</html>