<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 190</title>
    <style>
html {
    background: url('../assets/img/anh_nen.jpg') no-repeat center center fixed;
    background-size: cover;
}
body {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
    </style>
</head>
<body>
<h1>Lấp đầy trang với nền hình ảnh</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, reiciendis molestiae. Excepturi, saepe omnis aliquid facilis modi quaerat necessitatibus explicabo repellat non id cumque, a quasi nihil tenetur, accusamus pariatur.</p>
</body>
</html>