<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 63</title>
</head>

<body>
    <p> Chọn giới tính:</p>
    <form>
        <input type="radio" id="male" name="sex" value="male">
        <label for="male">Nam</label><br>
        <input type="radio" id="female" name="sex" value="female">
        <label for="female">Nữ</label><br>
        <input type="radio" id="other" name="sex" value="other">
        <label for="other">Khác</label><br>
        <input type="submit" value="Gửi">
    </form>
</body>

</html>