<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 208</title>
    <style>
.container {
    display: flex;
    background-color: red;
}
.container > .item {
    padding: 10px;
    margin: 10px;
    background-color: white;
    font-size: 20px;
} 
    </style>
</head>
<body>
    <div class="container">
        <div class="item">Item 1</div>
        <div class="item">Item 2</div>
        <div class="item">Item 3</div>
    </div>
</body>
</html>