<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 46</title>
</head>
<body>
    <p> Chọn ngôn ngữ yêu thích:</p>
    <form>
        <input type="checkbox" id="html" name="html" value="html">
        <label for="html">HTML</label><br>
        <input type="checkbox" id="css" name="css" value="css">
        <label for="css">CSS</label><br>
        <input type="checkbox" id="js" name="js" value="js">
        <label for="js">JavaScript</label><br>
        <input type="submit" value="Gửi">
    </form>
</body>
</html>