<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 158</title>
    <style>
.left {
    position: absolute;
    left: 0;
    background-color: #444;
    color: white;
    width: 150px;
    height: 150px;
}
.right {
    position: absolute;
    right: 0;
    background-color: #666;
    color: white;
    width: 150px;
    height: 150px;
}
    </style>
</head>
<body>
    <div class="left">Left</div>
    <div class="right">Right</div>
</body>
</html>