<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 82</title>
</head>
<body>
    <h1 style="color: red;">Hello </h1>
    <p style="color: blue;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur adipisci quidem pariatur eveniet, fugiat recusandae ducimus explicabo ipsa corrupti, nulla ratione mollitia inventore impedit, libero nesciunt cumque? Reprehenderit, assumenda aliquam.</p>
    <p style="color: green;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, beatae facilis, repellat atque eos suscipit a eligendi ea soluta veniam perspiciatis ipsam nulla delectus itaque facere, nemo at eveniet aliquam?</p>
</body>
</html>