<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 6</title>
</head>
<body>
    <p>Đây là một đoạn văn bản <b>in đậm</b></p>
    <p>Đây là một đoạn văn bản <strong>quan trọng</strong></p>
    <p>Đây là một đoạn văn bản <i>in nghiêng</i></p>
    <p>Đây là một đoạn văn bản <em>nhấn mạnh</em></p>
    <p>Đây là một đoạn văn bản <mark>đánh dấu</mark></p>
    <p>Đây là một đoạn văn bản <small>nhỏ</small></p>
    <p>Đây là một đoạn văn bản <big>lớn</big></p>
    <p>Đây là một đoạn văn bản <del>gạch ngang</del></p>
    <p>Đây là một đoạn văn bản <ins>gạch chân</ins></p>
    <p>Đây là một đoạn văn bản <sub>chỉ số dưới</sub></p>
    <p>Đây là một đoạn văn bản <sup>chỉ số trên</sup></p>
</body>
</html>