<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 269</title>
    <style>

    </style>
</head>
<body>
    <span class="badge bg-primary rounded-pill">Primary</span>
    <span class="badge bg-secondary rounded-pill">Secondary</span>
    <span class="badge bg-success rounded-pill">Success</span>
    <span class="badge bg-danger rounded-pill">Danger</span>
    <span class="badge bg-warning text-dark rounded-pill">Warning</span>
    <span class="badge bg-info rounded-pill">Info</span>
    <span class="badge bg-light text-dark rounded-pill">Light</span>
    <span class="badge bg-dark rounded-pill">Dark</span>
</body>
</html>