<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 93</title>
</head>
<body>
    <h1 style="background-image: url('../assets/img/cute.jpg'); background-position: center; color: red;">Hello </h1>
    <p style="background-image: url('../assets/img/cute.jpg'); background-position: right top; color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae ducimus ipsum rerum eius accusantium tempora eveniet vitae exercitationem aliquid. Inventore culpa optio distinctio qui possimus, nisi nam voluptate dolorem.</p>
    <p style="background-image: url('../assets/img/cute.jpg'); background-position: left bottom; color: red;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae ducimus ipsum rerum eius accusantium tempora eveniet vitae exercitationem aliquid. Inventore culpa optio distinctio qui possimus, nisi nam voluptate dolorem.</p>
</body>
</html>