<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 293</title>
    <style>

    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            Đây là header
        </div>
        <div class="card-body">
            Đây là nội dung card
        </div>
        <div class="card-footer">
            Đây là footer
        </div>
    </div>
</body>
</html>