<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 275</title>
    <style>

    </style>
</head>
<body>
    <div class="spinner-border text-muted" role="status"></div>
    <div class="spinner-grow text-primary" role="status"></div>
    <div class="spinner-border text-success" role="status"></div>
    <div class="spinner-grow text-info" role="status"></div>
    <div class="spinner-border text-warning" role="status"></div>
    <div class="spinner-grow text-danger" role="status"></div>
    <div class="spinner-border text-dark" role="status"></div>
    <div class="spinner-grow text-light" role="status"></div>
</body>
</html>