<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 256</title>
    <style>

    </style>
</head>
<body>
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> Đây là thông báo success với <a href="#" class="alert-link">liên kết</a>.
    </div>
</body>
</html>