<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 147</title>
    <style>
        .parent {
            border: 1px solid black;
            overflow: auto;
        }

        .right {
            float: right;
            width: 150px;
            height: 150px;
            background-color: red;
        }
    </style>
</head>

<body>
    <div class="parent">
        <img class="right" src="../assets/img/hinh_anh.gif"></img>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit corrupti placeat possimus? Dolorum odio,
            voluptas nulla placeat dignissimos eum sapiente magnam nostrum voluptates animi ut, doloremque autem eaque!
            Blanditiis, praesentium?</p>
    </div>
</body>

</html>