<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 141</title>
    <style>
        .overflow-hidden {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    overflow: hidden;
}
    </style>
</head>

<body>

    <div class="overflow-hidden">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni tenetur tempora porro et quo doloribus voluptatum dignissimos fugiat dolorem accusantium, repellendus molestiae a. Deserunt labore molestiae inventore eum quis. Dolorem.
        </p>
    </div>
</body>
</html>