<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 291</title>
    <style>

    </style>
</head>
<body>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> Hộp thư đến <span class="badge bg-primary">14</span></a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> Quảng cáo <span class="badge bg-warning">14</span></a>
        <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"> Thư nháp <span class="badge bg-info">14</span></a>
    </div>
</body>
</html>