<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 290</title>
    <style>

    </style>
</head>
<body>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Item Action</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Item Primary</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Item Secondary</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-info">Item info</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Item warning</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Item danger</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-success">Item success</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-dark">Item dark</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">Item light</a>
    </div>
</body>
</html>