<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 230</title>
    <style>

    </style>
</head>
<body>
    <p>Đây là một đoạn văn để test, <mark>còn đây là phần được đánh dấu</mark> có màu nổi bật.</p>
    <p>Đây là một đoạn văn để test, <span class="mark">còn đây là phần được đánh dấu</span> có màu nổi bật.</p>
</body>
</html>