<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 303</title>
    <style>

    </style>
</head>
<body>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample">
        Button with data-bs-target
    </button>
    <div class="collapse" id="collapseExample">
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis veniam mollitia veritatis illum autem asperiores, culpa laborum excepturi sint recusandae! Rem et iste voluptas impedit illo magni, cumque sequi cum?
        </p>
    </div>
</body>
</html>