<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 311</title>
    <style>

    </style>
</head>
<body>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">Spring boot</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#pros">Ưu điểm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#cons">Nhược điểm</a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane container active" id="home">
            <h2>Home</h2>
            <p>
                Spring Boot là một dự án của Pivotal Team, một công ty con của VMware. Spring Boot là một framework giúp tạo và chạy ứng dụng Spring một cách dễ dàng hơn. Spring Boot giúp giảm thiểu cấu hình XML và Annotation cũng như giúp tạo ra các ứng dụng Spring một cách nhanh chóng.
            </p>
        </div>
        <div class="tab-pane container fade" id="pros">
            <h2>Ưu điểm</h2>
            <ul>
                <li>Spring Boot giúp giảm thiểu cấu hình XML và Annotation.</li>
                <li>Phổ biến</li>
            </ul>
        </div>
        <div class="tab-pane container fade" id="cons">
            <h2>Nhược điểm</h2>
            <ul>
                <li>Thiếu kiểm soát. Hệ thống tạo ra nhiều sự phụ thuộc không sử dụng, dẫn đến tệp triển khai lớn</li>
                <li>Không phù hợp với các dự án quy mô lớn. Nhiều nhà phát triển cho rằng công cụ này không phù hợp để xây dựng các ứng dụng đơn khối lớn. Mặc dù một số người cho rằng nó có thể xử lý tốt các dự án lớn, nhưng điều này không phải là sự đồng thuận chung</li>
                <li>Có thể không linh hoạt.</li>
            </ul>
        </div>
    </div>
</body>
</html>