<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 310</title>
    <style>

    </style>
</head>
<body>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#home">NodeJS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#pros">Ưu điểm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#cons">Nhược điểm</a>
        </li>
    </ul>
    
    <div class="tab-content">
        <div class="tab-pane container active" id="home">
            <h2>Home</h2>
            <p>Được phát hành vào năm 2009, NodeJS, hay còn được biết với tên gọi chính thức là Node.js, là môi trường thời gian chạy (runtime environment) JavaScript đa nền tảng và mã nguồn mở. NodeJS cho phép các lập trình viên tạo cả ứng dụng front-end và back-end bằng JavaScript.</p>
        </div>
        <div class="tab-pane container fade" id="pros">
            <h2>Ưu điểm</h2>
            <ul>
                <li>NodeJS sử dụng JavaScript, ngôn ngữ lập trình phổ biến nhất thế giới.</li>
                <li>NodeJS sử dụng cơ chế bất đồng bộ (asynchronous) giúp tăng hiệu suất ứng dụng.</li>
                <li>NodeJS có cộng đồng lớn và phong phú.</li>
            </ul>
        </div>
        <div class="tab-pane container fade" id="cons">
            <h2>Nhược điểm</h2>
            <ul>
                <li>NodeJS không phù hợp với các ứng dụng yêu cầu xử lý đa luồng (multi-threading).</li>
                <li>Vấn đề về quản lý bộ nhớ (memory management) khi xử lý các tác vụ đồng thời (concurrent tasks).</li>
                <li>Bảo mật của NodeJS còn yếu so với các ngôn ngữ lập trình back-end khác.</li>
            </ul>
        </div>
    </div>
</body>
</html>