<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 130</title>
    <style>
        ol {
            list-style-type:decimal-leading-zero;
            background-color: red;
            padding: 10px;
            color: aqua;
        }

        ol li {
            color: red;
            background-color: white;
            font-size: 16px;
            font-weight: bold;
            margin: 5px;
        }
    </style>
</head>

<body>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
    </ol>
</body>

</html>