<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 102</title>
</head>
<body>
    <p style="padding: 10px; border: 2px solid black;">Ví dụ 1 </p>
    <p style="padding: 10px 20px; border: 2px solid black;">Ví dụ 2 </p>
    <p style="padding: 10px 20px 30px; border: 2px solid black;">Ví dụ 3 </p>
    <p style="padding: 10px 20px 30px 40px; border: 2px solid black;">Ví dụ 4 </p>
</body>
</html>