<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 223</title>

</head>
<body>
    <div class="container-fluid">
        <h1>Container</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi molestias obcaecati ipsa ipsum velit blanditiis magnam dolorum reprehenderit perferendis? Corrupti soluta accusantium, veritatis ea obcaecati ipsa. Nostrum consectetur sunt iste!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt laboriosam eos tempora quas ullam corrupti praesentium ut, qui totam reprehenderit animi. Similique itaque enim ipsa aperiam officia et facere porro?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, corrupti, quo reprehenderit ratione totam amet aut rerum esse, nam temporibus delectus! Porro necessitatibus corrupti delectus voluptatibus doloribus iure voluptatem ut?</p>
    </div>
</body>
</html>