<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 27</title>
    <style>
        .content {
            background-color: orange;
            color: white;
            border: 1px solid black;
            margin: 10px;
            padding: 20px;
        }
    </style>
</head>

<body>
    <div class="content">
        <h1>Tiêu đề</h1>
        <p>Đoạn văn</p>
    </div>
    <div class="content">
        <h1>Tiêu đề</h1>
        <p>Đoạn văn</p>
    </div>
    <div class="content">
        <h1>Tiêu đề</h1>
        <p>Đoạn văn</p>
    </div>
</body>

</html>