<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 267</title>
    <style>

    </style>
</head>
<body>
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Button 1</button>
        <button type="button" class="btn btn-primary">Button 2</button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Button 3</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Dropdown 1</a>
                <a class="dropdown-item" href="#">Dropdown 2</a>
                <a class="dropdown-item" href="#">Dropdown 3</a>
            </div>
        </div>
    </div>
</body>
</html>