<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 40</title>
</head>
<body>
    <main>
        <header>           
            <h1>Trang chủ</h1>
            <p>Nội dung trang chủ ở đây</p>
    
            <nav>
                <a href="#">Trang chủ</a>
                <a href="#">Giới thiệu</a>
                <a href="#">Liên hệ</a>
            </nav>
        </header>
    
        <section>
            <h2>Bài viết 1</h2>
            <p>Nội dung bài viết 1</p>
        </section>
    
        <section>
            <h2>Bài viết 2</h2>
            <p>Nội dung bài viết 2</p>
        </section>
    
        <footer>
            <p>Người viết: ...</p>
        </footer>
    
    </main>
</body>
</html>