<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 55</title>
</head>
<body>
    <form>
        <label for="os">Chọn Hệ Điều Hành:</label> <br>
        <input list="osChoice" id="os" name="os"> <br>
        <datalist id="osChoice">
            <option value="Windows">
            <option value="macOS">
            <option value="Linux">
            <option value="Android">
            <option value="iOS">
        </datalist>
        <input type="submit" value="Gửi">
    </form>
</body>
</html>