<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 21</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #78efff65;
        }

        th:nth-child(even),
        td:nth-child(even) {
            background-color: #78efff65;
        }
    </style>
</head>

<body>
    <table style="width:100%">
        <tr>
            <th>Tiêu đề cột 1</th>
            <th>Tiêu đề cột 2</th>
            <th>Tiêu đề cột 3</th>
            <th>Tiêu đề cột 4</th>
        </tr>
        <tr>
            <td>Dữ liệu 1</td>
            <td>Dữ liệu 2</td>
            <td>Dữ liệu 3</td>
            <td>Dữ liệu 4</td>
        </tr>
        <tr>
            <td>Dữ liệu 5</td>
            <td>Dữ liệu 6</td>
            <td>Dữ liệu 7</td>
            <td>Dữ liệu 8</td>
        </tr>
        <tr>
            <td>Dữ liệu 9</td>
            <td>Dữ liệu 10</td>
            <td>Dữ liệu 11</td>
            <td>Dữ liệu 12</td>
        </tr>
        <tr>
            <td>Dữ liệu 13</td>
            <td>Dữ liệu 14</td>
            <td>Dữ liệu 15</td>
            <td>Dữ liệu 16</td>
        </tr>
        </tr>
    </table>
</body>

</html>