<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 171</title>
    <style>
        p::selection {
            background-color: tomato;
            color: white;
        }
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sed reiciendis, pariatur dicta animi deleniti optio voluptatum numquam, nihil distinctio modi commodi voluptate! Molestias, rem blanditiis. Debitis id dolorem quidem.</p>
</body>
</html>