<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 104</title>
</head>
<body>
    <p style="max-width: 100px; border: 2px solid black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod modi asperiores, iusto sed omnis quaerat. Dolorum harum aperiam dolore magni! A fuga harum maiores exercitationem dicta laboriosam aliquam recusandae. </p>
    <p style="max-width: 200px; border: 2px solid black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod modi asperiores, iusto sed omnis quaerat. Dolorum harum aperiam dolore magni! A fuga harum maiores exercitationem dicta laboriosam aliquam recusandae. </p>
    <p style="max-width: 300px; border: 2px solid black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod modi asperiores, iusto sed omnis quaerat. Dolorum harum aperiam dolore magni! A fuga harum maiores exercitationem dicta laboriosam aliquam recusandae. </p>
    <p style="max-width: 400px; border: 2px solid black;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quod modi asperiores, iusto sed omnis quaerat. Dolorum harum aperiam dolore magni! A fuga harum maiores exercitationem dicta laboriosam aliquam recusandae. </p>
</body>
</html>