<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 228</title>
    <style>

    </style>
</head>
<body>
    <h1 class="display-1">Display 1</h1>
    <h2 class="display-2">Display 2</h2>
    <h3 class="display-3">Display 3</h3>
    <h4 class="display-4">Display 4</h4>
    <h5 class="display-5">Display 5</h5>
    <h6 class="display-6">Display 6</h6>
</body>
</html>