<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 272</title>
    <style>

    </style>
</head>
<body>
    <div class="d-grid gap-4">
        <div class="progress">
            <div class="progress-bar progress-bar-striped" style="width: 25%">25%</div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-success progress-bar-striped" style="width: 50%">50%</div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-info progress-bar-striped" style="width: 75%">75%</div>
        </div>
        <div class="progress">
            <div class="progress-bar bg-warning progress-bar-striped" style="width: 100%">100%</div>
        </div>
    </div>
</body>
</html>