<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 33</title>
</head>
<body>
    <article>
        <header>
            <h1>Bài viết 1</h1>
        </header>
        <section>
            <header>
                <h2>Luận điểm 1</h2>
            </header>
            <p>Luận cứ cho luận điểm 1</p>
        </section>
        <section>
            <header>
                <h2>Luận điểm 2</h2>
            </header>
            <p>Luận cứ cho luận điểm 2</p>
        </section>
        <footer>
            <p>Người viết: ...</p>
        </footer>
    </article>
</body>
</html>