<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 132</title>
    <style>
                table,
        th,
        td {
            border: 1px solid black;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <table style="width: 100%;">
        <tr>
            <td>tiêu đề 1</td>
            <td>tiêu đề 2</td>
        </tr>
        <tr>
            <td>hàng 1, cột 1</td>
            <td>hàng 1, cột 2</td>
        </tr>
        <tr>
            <td>hàng 2, cột 1</td>
            <td>hàng 2, cột 2</td>
        </tr>
    </table>
</body>
</html>