<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 233</title>
    <style>

    </style>
</head>
<body>
    <dl>
        <dt>HTML</dt>
        <dd>Ngôn ngữ đánh dấu siêu văn bản</dd>
        <dt>CSS</dt>
        <dd>Ngôn ngữ định dạng siêu văn bản</dd>
        <dt>JavaScript</dt>
        <dd>Ngôn ngữ lập trình client-side</dd>
    </dl>
    
</body>
</html>