<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 254</title>
    <style>

    </style>
</head>
<body>
    <div class="container mt-3">
        <div class="mt-4 p-5 bg-primary text-white rounded">
            <h1>Tiêu đề lớn</h1>
            <p>Nội dung lớn</p>
        </div>
    </div>
</body>
</html>