<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 105</title>
</head>
<body>
    <p style="outline: 2px none black;">None </p>
    <p style="outline: 2px hidden black;">Hidden </p>
    <p style="outline: 2px dotted black;">Dotted </p>
    <p style="outline: 2px dashed black;">Dashed </p>
    <p style="outline: 2px solid black;">Solid </p>
    <p style="outline: 2px double black;">Double </p>
    <p style="outline: 2px groove black;">Groove </p>
    <p style="outline: 2px ridge black;">Ridge </p>
    <p style="outline: 2px inset black;">Inset </p>
    <p style="outline: 2px outset black;">Outset </p>
</body>
</html>