<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 255</title>
    <style>

    </style>
</head>
<body>
    <div class="alert alert-primary" role="alert">
        <strong>Primary!</strong> Đây là thông báo primary.
    </div>
    <div class="alert alert-secondary" role="alert">
        <strong>Secondary!</strong> Đây là thông báo secondary.
    </div>
    <div class="alert alert-success" role="alert">
        <strong>Success!</strong> Đây là thông báo success.
    </div>
    <div class="alert alert-danger" role="alert">
        <strong>Danger!</strong> Đây là thông báo danger.
    </div>
    <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> Đây là thông báo warning.
    </div>
    <div class="alert alert-info" role="alert">
        <strong>Info!</strong> Đây là thông báo info.
    </div>
    <div class="alert alert-light" role="alert">
        <strong>Light!</strong> Đây là thông báo light.
    </div>
    <div class="alert alert-dark" role="alert">
        <strong>Dark!</strong> Đây là thông báo dark.
    </div>
</body>
</html>