<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 161</title>
    <style>
        .parent {
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid red;
}
.center-transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid green;
}
    </style>
</head>
<body>
    <div class="parent">
        <p class="center-transform"> Nội dung này sẽ nằm giữa theo chiều ngang và chiều dọc</p>                   
    </div>
</body>
</html>