<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 144</title>
    <style>
        .left {
    float: left;
    width: 100px;
    height: 100px;
    background-color: red;
}
.right {
    float: right;
    width: 100px;
    height: 100px;
    background-color: green;
}
.none {
    float: none;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.inherit {
    float: inherit;
    width: 100px;
    height: 100px;
    background-color: yellow;
}
    </style>
</head>
<body>

    <div>
        <h1>Float left</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus porro culpa saepe rem voluptatum repellendus esse dolorem minus iusto odit temporibus impedit doloremque, consectetur quas. Voluptatem quibusdam reiciendis incidunt velit.</p>
        <p><img class="left" src="../assets/img/hinh_anh.gif" alt="image">Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis error aut, quibusdam ex ipsa voluptatibus quod alias libero pariatur magnam voluptatum cumque perspiciatis ab doloremque? Accusamus enim quo aspernatur.</p>
    </div>
    <div>
        <h1>Float right</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et nisi mollitia voluptate architecto, deleniti atque ipsam blanditiis nam vel, tempora quos aut officiis delectus molestiae ex aliquam accusamus veritatis quis.</p>
        <p><img class="right" src="../assets/img/hinh_anh.gif" alt="image">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi facilis sapiente, voluptatem suscipit adipisci doloribus ea exercitationem ad! Dolorum a vel facilis optio id ipsum nulla temporibus distinctio? Eveniet, nihil.</p>
    </div>
    <div>
        <h1>Float none</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus porro culpa saepe rem voluptatum repellendus esse dolorem minus iusto odit temporibus impedit doloremque, consectetur quas. Voluptatem quibusdam reiciendis incidunt velit.</p>
        <p><img class="none" src="../assets/img/hinh_anh.gif" alt="image">Lorem ipsum dolor sit amet consectetur adipisicing elit. In reiciendis error aut, quibusdam ex ipsa voluptatibus quod alias libero pariatur magnam voluptatum cumque perspiciatis ab doloremque? Accusamus enim quo aspernatur.</p>
    </div>    
               
</body>
</html>