<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 247</title>
    <style>

    </style>
</head>
<body>
    <div class="container mt-3">

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Cột 1</td>
                        <td>Cột 2</td>
                        <td>Cột 3</td>
                        <td>Cột 4</td>
                        <td>Cột 5</td>
                        <td>Cột 6</td>
                        <td>Cột 7</td>
                        <td>Cột 8</td>
                        <td>Cột 9</td>
                        <td>Cột 10</td>
                        <td>Cột 11</td>
                        <td>Cột 12</td>
                        <td>Cột 13</td>
                        <td>Cột 14</td>
                        <td>Cột 15</td>
                        <td>Cột 16</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>