<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 168</title>
    <style>
        p::first-letter {
    color: red;
    font-size: 20px;
} 
    </style>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos sed reiciendis, pariatur dicta animi deleniti optio voluptatum numquam, nihil distinctio modi commodi voluptate! Molestias, rem blanditiis. Debitis id dolorem quidem.</p>
</body>
</html>