<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 203</title>
    <style>
div {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 10px;
}
.div-resize-none {
    resize: none;
    overflow: auto;
}
.div-resize-both {
    resize: both;
    overflow: auto;
}
.div-resize-horizontal {
    resize: horizontal;
    overflow: auto;
}
.div-resize-vertical {
    resize: vertical;
    overflow: auto;
}
</style>
</head>
<body>
    <div class="div-resize-none"></div>
    <div class="div-resize-both"></div>
    <div class="div-resize-horizontal"></div>
    <div class="div-resize-vertical"></div>
</body>
</html>