<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 188</title>
    <style> * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
.background-image {
    color: brown;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 300px;
    background-image: url('../assets/img/hinh_anh.gif'), url('../assets/img/pattern.jpg');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: bottom right, top left;
} 
    </style>
</head>
<body>
    <div class="background-image">
        Đây là nội dung nằm trong background-image
    </div>
</body>
</html>