<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 7</title>
</head>
<body>
    <p>Đây là một đoạn văn bản <q>trích dẫn ngắn</q></p>
    <p>Đây là một đoạn văn bản <blockquote>trích dẫn dài</blockquote></p>
    <p>Đây là một đoạn văn bản <cite>chú thích nguồn</cite></p>
    <p>Đây là một đoạn văn bản <abbr title="World Health Organization">WHO</abbr></p>
    <p>Đây là một đoạn văn bản <address>Địa chỉ: 123 Đường ABC, Thành phố XYZ</address></p>
</body>
</html>