<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>example 115</title>
</head>
<body>
    <p style="font-family: 'Arial', sans-serif;">Arial </p>
    <p style="font-family: 'Verdana', sans-serif;">Verdana </p>
    <p style="font-family: 'Tahoma', sans-serif;">Tahoma </p>
    <p style="font-family: 'Times New Roman', serif;">Times New Roman</p>
    <p style="font-family: 'Georgia', serif;">Georgia</p>
    <p style="font-family: 'Garamond', serif;">Garamond</p>
    <p style="font-family: 'Courier New', monospace;">Courier New</p>
    <p style="font-family: 'Lucida Console', monospace;">Lucida Console</p>
    <p style="font-family: 'Monaco', monospace;">Monaco</p>
    <p style="font-family: 'JetBrains Mono', monospace;">JetBrains Mono</p>
    <p style="font-family: 'Brush Script MT', cursive;">Brush Script MT</p>
    <p style="font-family: 'Comic Sans MS', cursive;">Comic Sans MS</p>
    <p style="font-family: 'Lucida Handwriting', cursive;">Lucida Handwriting</p>
    <p style="font-family: 'Impact', fantasy;">Impact</p>
    <p style="font-family: 'Papyrus', fantasy;">Papyrus</p>
    <p style="font-family: 'Copperplate', fantasy;">Copperplate</p>
</body>
</html>