<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 274</title>
    <style>

    </style>
</head>
<body>
    <div class="progress" style="height: 25px">
        <div class="progress-bar bg-primary" style="width: 25%">Tập tin hệ thống</div>
        <div class="progress-bar bg-success" style="width: 10%">Tập tin hình ảnh</div>
        <div class="progress-bar bg-info" style="width: 15%">Tập tin video</div>
    </div>
</body>
</html>