<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 295</title>
    <style>

    </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Tiêu đề card</h4>
            <p class="card-text">Đây là nội dung card</p>
            <a href="#" class="card-link">Liên kết</a>
            <a href="#" class="card-link">Liên kết khác</a>
        </div>
    </div>
</body>
</html>