<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 238</title>
    <style>

    </style>
</head>
<body>
    <p class="bg-primary text-white">Primary background.</p>
    <p class="bg-secondary text-white">Secondary background.</p>
    <p class="bg-success text-white">Success background.</p>
    <p class="bg-danger text-white">Danger background.</p>
    <p class="bg-warning text-white">Warning background.</p>
    <p class="bg-info text-white">Info background.</p>
    <p class="bg-light">Light background.</p>
    <p class="bg-dark text-white">Dark background.</p>
    <p class="bg-white">White background.</p>
</body>
</html>