<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <title>example 242</title>
    <style>

    </style>
</head>
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Tiêu Đề 1</th>
                <th>Tiêu Đề 2</th>
                <th>Tiêu Đề 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dòng 1, Cột 1</td>
                <td>Dòng 1, Cột 2</td>
                <td>Dòng 1, Cột 3</td>
            </tr>
            <tr>
                <td>Dòng 2, Cột 1</td>
                <td>Dòng 2, Cột 2</td>
                <td>Dòng 2, Cột 3</td>
            </tr>
            <tr>
                <td>Dòng 3, Cột 1</td>
                <td>Dòng 3, Cột 2</td>
                <td>Dòng 3, Cột 3</td>
            </tr>
        </tbody>
    </table>
</body>
</html>